body {
    background-color: #252525;
    color: #fff;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10vh;
}
 form {
    position: absolute;
    display: flex;
    flex-direction: column;
}

